body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
header {
    background-color: #60bd3e;
    color: #fff;
    padding: 10px 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    text-decoration: none;
    color: #fff;
}